version: '3.1'

services:
  db:
    image: mysql:latest
    restart: on-failure
    container_name: Student
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: Students
      MYSQL_USER: dmitry
      MYSQL_PASSWORD: dmitry